.header {
    background:	#4d1b7b;
    padding: 20px calc(50% - 500px) 10px;
}

.header__title {
    font-family: 'Luckiest Guy', cursive;
    color: #FFEEDB;
    font-size: 45px;
    margin-left: 40px;
}

/* mobile css */
@media only screen and (max-width: 720px) {
    .header {
        background: #00031c;
        padding: 3vw calc(50% - 44vw) 2vw;
    }

    .header__title {
        font-size: 6vw;
        margin-left: 5vw;
    }
}